@use '../../styles/mixins' as * ;
@use '../../styles/variables' as * ;


.workout{
    min-height: 80vh;

    &__heading{
        @include page-header-padding;
        text-align: center
    }
    &__button-container{
        display: flex;
        justify-content: center
    }
    &__button{
        @include button;
        width: 50%;
        
    }
}

