@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;



.program{

    @include section-padding;
    padding-top: 3rem ;
    text-decoration: none;

    &__heading{
        text-align: center;
        text-transform: uppercase;
        color: $yellow;
        text-shadow: 1px 1px 1px $dark-blue;

        &--link{
            &:hover{
                cursor: pointer;
                color: $light-blue;
                opacity: 75%;
            }
        }
        
    }
    &__button{
        @include button;
    }
}