@use '../../styles/mixins' as * ;
@use '../../styles/variables' as * ;



.custom-workout{
    &__button-container{
        display: flex;
        justify-content: center
    }
    &__button{
        @include button;
        width: 50%;
        
    }
}