@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;



.list{
    position: fixed;
    top:0;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: white;
    z-index: 3;
    overflow-x: hidden;
    padding: 2rem;
    padding-top: 5rem;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    &__cancel{
        display: flex;
        background-color: $dark-blue;
        color: white;
        border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Titillium Bold";
    margin-bottom: 1rem;
    position: absolute;
    right: 25px;
    top:35px
    }

    &__heading{
        width: 100%;
        @include page-header-padding;
    }
    &__item{
        height: 10vh;
        display: flex;
        margin-bottom:1rem ;
        align-items: center; 
    
    
        @include tablet {
           width: 50%;
        }
    }
    &__image{
        height: 100%;
    }
    &__button-container{
        background-color: $yellow;
        width: 100%;
        display:flex;
        justify-content: center;
        position: fixed;
        bottom:0;
        left:0;
        padding: 1rem;

        
    }
    &__button{

    }
}

.searchModal{
    position: fixed;
    z-index: 1056;
    width:100vw;
    height: 100vh;
    background-color: beige;
    top:0;

    &__heading-container{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        border-bottom: rgb(222, 226, 230) solid 1px;
    }
    &__close{
        font-size: 1rem;
        font-family: Titilium;
    }
    &__body{
        padding: 1rem;
    }
}

.fakeInput{
    height: 2rem;
    width:100%
}


