.program-edit{
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__entry-container{
        display: flex;
        justify-content: space-around;
    }
    &__label, &__input{
        width:40%;
    }
}