@use "../../styles/variables" as * ;
@use "../../styles/mixins" as * ;


.notFound{
    height:90vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @include section-padding;
    background-color: $lighter-blue;
    &__title{
        @include page-header-padding;
        text-align: center;
        color: $white;
        font-size: 4rem;
    }

    &__link{
        display: flex;
        justify-content: center;
    
    }

    &__button{
        @include button;
        color: $white;
        width: 25%;
    }
}